// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$gray: #ffffff;

body {
   background: $gray; // Using this variable
   color : #235a56;
 }

h1 {
  font-size: 36px;
  font-weight: lighter bold;
 }

p {
  font-size: 16px;
}

.question {
  background-color: #f4f9f9;
  box-shadow: -10px 0px 0px darkgray;
  padding: 5px 18px;
  margin: 25px;
}

 .answer{
  background-color: #fffde1;
  box-shadow: -10px 0px 0px darkgray;
  padding: 5px 18px;
  margin: 25px;
 }

 .person {
  font-size: 20px;
  font-style: italic;
 }

#your_message {
  font-size: 20px;
}

#coach_answer {
  font-size: 20px;
  font-weight: bold;
  color: #28537a;
 }

a {
  text-decoration: none;
  color: #3f927c;
 }
